button {
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  color: gray;
}

button:hover {
  color: black;
}

.active {
  text-decoration:none;
  color: black;
  cursor: initial;
}

#classes {
  display: none;
}


